.card-media {
    padding: 10px;
    border-radius: 20px;
    background: whitesmoke;
}
.locandina-home {
    display: inline-block;
}

.locandina:hover{
    transform: scale(1.1);
    box-shadow: 5px -1px 47px -6px rgba(0,0,0,0.75);
}

.locandina-home div img {
    width: 100%;
}

.card-media div img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#card-scroll-container {
    margin: 1%;
    background: whitesmoke;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 0;
}

.card-media:last-child {
    margin-bottom: 0px;
}

.locandina {
    object-fit: cover;
    object-position: center;
    width: 30%;
    transition: .4s ease;
    border-radius: 5px;
}

.titolo-media {
    text-align: center;
}

.lista-info {
    list-style: none;
}

.lista-info p {
    font-weight: bold;
}

.recensione {
    background: light-grey;
}


.punteggio-film-div img {
    width: 85px;
    margin-left: -35px
}

.punteggio-film-div img:first-child {
    margin-left: 35px
}

.contorno-popcorn {
    margin: 0;

    background:
        url("./images/contornopopcorn.png") center / cover,
        url("./images/popcornpieno.png") bottom / 100% var(--p, 0),
        transparent;

    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    position: relative;
}


.trailer-media {
    border: none;
    -webkit-box-shadow: 9px 10px 47px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 47px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 47px -6px rgba(0,0,0,0.75);
}

