.form-register {
    width: 50%;
    margin: 0 auto;
}

.form-container {
    padding: var(--lumo-space-m);
    box-shadow: var(--lumo-box-shadow-s);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 60% !important;
}


.list-view .content {
    display: flex;
}

.list-view .configure-grid {
    flex: 2;
}

.list-view .configure-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

.div-trailer {
    width: 100%;
    height: calc(85vh - 16px);
}

.container-puntate {
    width: 70% !important;
    margin: 0 auto;
}

.horizontal-responsive {
    width: 80%;
}

.horizontal-responsive img {
    width: 40%;
}

.horizontal-responsive vaadin-vertical-layout {
    width: 60%;
}

.contenuti-home {
    box-shadow: var(--lumo-box-shadow-s);
    margin: var(--lumo-space-tall-l)
}

.form-inserimento {
    box-shadow: var(--lumo-box-shadow-s);
}


@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .configure-grid {
        display: none;
    }

    .horizontal-responsive {
        flex-direction: column;
        width: 95%;
    }

    .horizontal-responsive .locandina {
        width: 50%;
        margin: 0 auto;
    }

    .trailer-media {
        width: 100%

    }

    .card-media {
        width: 95%
    }

    .container-puntate {
        width: 95% !important;
    }

    .locandina:hover {
        transform: none;
        box-shadow: none;
    }

    .form-register {
        width: 97%;
    }

    .form-container {
        width: 90% !important;
    }


}