#header {
  height: var(--lumo-size-xl);
}
#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
#header img#logo {
  height: var(--lumo-size-l);
  margin: 0 var(--lumo-space-s);
}
#header #menuTendina {
  margin-right: var(--lumo-space-l);
  overflow: hidden;
  margin-left: auto;
}

#loncandina {
  size: A3;
}

CardMedia {
  background-color: grey;
}

vaadin-app-layout[dir='rtl'] vaadin-horizontal-layout #header img#avatar {
  margin-left: var(--lumo-space-m);
  margin-right: auto;
}
